<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;DatabaseName=eLook</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">P@ssw0rd</property>
        
    
<!--     <session-factory> -->
        
<!--         連線池c3p0設定 -->
<!-- 		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property> -->
<!-- 		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;DatabaseName=eLook</property> -->
<!-- 		<property name="hibernate.connection.username">sa</property> -->
<!-- 		<property name="hibernate.connection.password">123456</property>     2選1-->
<!--        <property name="hibernate.connection.password">P@ssw0rd</property>      -->
<!-- 		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property> -->
<!-- 		<property name="hibernate.c3p0.min_size">5</property> -->
<!-- 		<property name="hibernate.c3p0.max_size">20</property> -->
<!-- 		<property name="hibernate.c3p0.timeout">1800</property> -->
<!-- 		<property name="hibernate.c3p0.max_statements">50</property> -->
        
<!-- 		SQL方言,以下使用SQLServer  -->
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>

<!-- 		是否要顯示實際操作資料庫時的SQL  -->
		<property name="hibernate.show_sql">true</property>

<!--         Disable the second-level cache -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

<!-- 		交易管理類型, 以下使用JDBC Transaction  -->
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        
<!--         Enable Hibernate's automatic session context management -->
		<property name="hibernate.current_session_context_class">thread</property>

<!-- 		Java物件與資料庫表格的映射檔  -->
		<mapping resource="com/e_Look/ad/Ad.hbm.xml" />
		<mapping resource="com/e_Look/backStage/login/model/Manager.hbm.xml"/>
		<mapping resource="com/e_Look/buyCourse/model/BuyCourse.hbm.xml"/>    
		<mapping resource="com/e_Look/Course/Course.hbm.xml"/>    
		<mapping resource="com/e_Look/courseClass/CourseClass.hbm.xml"/>    
		<mapping resource="com/e_Look/CourseClassDetails/CourseClassDetails.hbm.xml"/>    
		<mapping resource="com/e_Look/eLookEvent/eLookEvent.hbm.xml"/>    
		<mapping resource="com/e_Look/member/model/Member.hbm.xml"/>    
		<mapping resource="com/e_Look/memberBookmarks/model/MemberBookmarks.hbm.xml"/>    
		<mapping resource="com/e_Look/memberSubscription/MemberBookmarks.hbm.xml"/>    
		<mapping resource="com/e_Look/message/model/Message.hbm.xml"/>    
		<mapping resource="com/e_Look/Order/model/Order.hbm.xml"/>    
		<mapping resource="com/e_Look/OrderDetails/model/OrderDetails.hbm.xml"/>    
		<mapping resource="com/e_Look/ReportCourse/model/ReportCourse.hbm.xml"/>    
		<mapping resource="com/e_Look/reportMessage/model/ReportMessage.hbm.xml"/>    
		<mapping resource="com/e_Look/search/Search.hbm.xml"/>   
		<mapping resource="com/e_Look/shoppingCart/model/spring/ShoppingCart.hbm.xml"/>    
		<mapping resource="com/e_Look/sponsor/model/Sponsor.hbm.xml"/> 
 	</session-factory>
    
    
</hibernate-configuration>
