<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>e-Look</display-name>
  <resource-ref>
    <description>JDBC</description>
    <res-ref-name>jdbc/eLookDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>HOME.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>systemName</param-name>
    <param-value>e-Look線上學習網</param-value>
  </context-param>
  <context-param>
    <param-name>icon</param-name>
    <param-value>/e-Look/img/eLook.icon</param-value>
  </context-param>
  <filter-mapping>
    <filter-name>DisableCacheFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CreateCourseFilter</filter-name>
    <url-pattern>/CreateCourse.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>OnlineCourseFilter</filter-name>
    <url-pattern>/onlineCourse-v2.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>OnlineCourseFilter</filter-name>
    <url-pattern>/freeCourse-v1.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>OnlineCourseFilter</filter-name>
    <url-pattern>/proposalCourse-v1.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CheckOutFilter</filter-name>
    <url-pattern>/settled.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MemberFilter</filter-name>
    <url-pattern>/member/member.jsp</url-pattern>
  </filter-mapping>
</web-app>